.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 160px;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.header li a {
  font-weight: 700;
  color: #000000;
  display: inline-block;
  padding: 0 0.5em;
  text-decoration: none;
}

.header li a:hover {
  color: #3e8e41;
}

.header li a.active {
  color: #327335;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 70px;
  }

  .logo {
    width: 200px;
  }

  .header li a {
    padding: 0 1em;
  }
}