body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #f2f2f2;
}

main {
  margin: 0 auto;
  padding: 10px 10px 50px 10px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

main .content {
  padding: 10px;
  text-align: center;
}

button {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #fff;
  font-size: 14px;
  text-decoration: none;
}

button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  main {
    max-width: 1000px;
    padding: 20px;
  }

  main .content {
    padding: 20px 70px;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
  }
}